@import "https://fonts.googleapis.com/css?family=Montserrat|Roboto";

/* Font variables */
$montserrat-font: "Montserrat", sans-serif;
$roboto-font: "Roboto", sans-serif;

/* Color palette */
$improveIT-blue: #0cafff;
$very-light-grey: #fafafa;
$light-grey: #dbd8e3;
$medium-grey: #929aab;
$dark-grey: #393e46;
